  body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: rgb(219, 219, 219);
  } * {
    box-sizing: border-box;
  }

  header {
    top: 0;
    z-index: 999;
    background-color: #fff;

    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 10px;
  }

  .titulo {
    background: -webkit-linear-gradient(#04AA6D, #aa0303);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .formulario__carro{
    border: 2px solid rgb(182, 182, 182);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    height: 90%;

    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    display: none;
    flex-direction: column;

    overflow: auto;

  }

  .formulario__carro__inner{

    background-color: #f2f2f2;
    padding: 1%;
    width: 100%;
    height: 80%;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px dotted #626262;
    border-bottom: 1px dotted #626262;
    margin: auto;

    overflow: auto;
  }
  
  #close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }

  #close:hover {
    display:inline-block;
    cursor: pointer;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
  }

  #close:before,  #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(0, 0, 0);
  }
  #close:before {
    transform: rotate(45deg);
  }
  #close:after {
    transform: rotate(-45deg);
  }

  .botoes__conjunto{
    margin: 2%;
    display: flex;
    gap: 10%;

    justify-content: center;
  }

  .btn{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0px;

    height: 50px;
    width: 150px;
    letter-spacing: 1px;
    outline: none;
    position: relative;

    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  }

  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  .btn:before {
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

  .btn.add{
    background-color: #04AA6D;
  }
  
  .btn.add:hover{
    background-color: #005b39;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    
  }

  .btn.back{
    background-color: #c3c3c3;
  }

  .btn.back:hover{
    background-color: #6d6d6d;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  .btn__redondo{
    height: 60px;
    width:  60px;
    background-color: #04AA6D;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  }

  .btn__redondo:hover{
    background-color: #005b39;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  ion-icon {
    font-size: 50px;
  }

  .btn__opcoes{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
  .btn__opcoes.editar {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(161, 124, 0);
  }

  .btn__opcoes.excluir {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 0, 0);
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .checkbox-grid li {
    display: block;
  }

  #listaCarros {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #listaCarros td, #listaCarros th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #listaCarros tr{background-color: #f2f2f2; }
  
  #listaCarros tr:hover {background-color: #04aa6d38;}
  
  #listaCarros th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-align: center;
  }